/* special font */
@import url(https://fonts.googleapis.com/css?family=Coda+Caption:800);

body {
  background: #DB5A48;
 }

#size1, size#2, #size3, #size4 {
  position: absolute;
  left: -9999px;
  }
 
input:checked + .size1, input:checked + .size2, input:checked + .size3,
input:checked + .size4 {
  box-shadow: inset 2px 3px 0px rgba(0, 0, 0, 0.34),inset -1px -1px 0px rgba(255, 255, 255, 0.22);
  background: #7A7077;
  }

.size1 {
  position: absolute;
  width: 20px;  
  height: 20px;
  background: #CDC8C5;
  left: 60px;
  top: 60px;
  border-radius: 50%;
  }

.size2 {
  postion: absolute;
  width: 40px;
  height: 40px;
  background: #CDC8C5;
  left: 90px;
  top: 50px;
  border-radius: 50%;
  }

.size3 {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #CDC8C5;
  left: 140px;
  top: 40px;
  border-radius: 50%;
   }

.size4 {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #CDC8C5;
  left: 220px;
  top: 30px;
  border-radius: 50%;
  }

#size1:checked ~ #nes{
  font-size: 8px;
  }

#size2:checked ~ #nes{
  font-size:12px
  }

#size3:checked ~ #nes{
  font-size:16px
}

#size4:checked ~ #nes{
  font-size:20px
}
#nes {
  width: 45em;
  height: 15em;
  margin: 140px auto;
  position: relative; 
  color: #B62F28;
  font-family: 'Code Caption', sans-serif;
  -webkit-transition: all 0.1s; 
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;  
  }

#nes:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 0;

  -webkit-box-shadow: 0 0 5em 3em rgba(0, 0, 0, 0.22);
  box-shadow: 0 0 5em 3em rgba(0, 0, 0, 0.22);
  bottom: -4%;
  left: 10%;
  z-index: -1;
  border-radius: 50%;
    }

#nes:before {
	content: "";
	position: absolute;
	width: 99.4%;
	height: 0;
	top: -3%;
	left: 0.3%;
	border-bottom: 0.5em solid #C9C4C1;
	border-left: 2em solid rgba(0, 0, 0, 0);
	border-right: 2em solid rgba(0, 0, 0, 0);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
   }







